:root{
    --dark-grey: #132E32;
    --dark-blue: #0A2239;
    --medium-blue: #176087;
    --light-md-blue: #1D84B5;
    --light-blue: #53A2BE;
    --trans-white: rgba(255,255,255,.2);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: url("./assets/cursor/paperplane-sm.png"), auto !important;
}
p{
    margin: 0;
}
button{
    text-decoration: none;
    cursor: url("./assets/cursor/paperplane-sm.png"), auto !important;
}
html{
    cursor: url("./assets/cursor/rocket-sm.png"), auto;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    color: azure;
}
/* General Page CSS Ends */

/* NAV STYLES BEGIN */
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    z-index: 99;
    background: linear-gradient(180deg, var(--medium-blue), transparent);
    align-items: center;
}
header p{
    font-size: 1.8rem;
}
.navlinks{
    color: white;
    font-size: 1.1rem;
    padding: 2px 15px;
    margin: 7px 0 0 0;
    border-radius: 10px;
}
.navlinks:hover{
    background-color: rgba(255,255,255, 0.75);
    color: var(--dark-blue);
}
/* NAV STYLES END */


/* BANNER STYLES START */
.main-banner {
    position: relative;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.main-banner .caption {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
}

.main-banner .caption h6 {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 0.5px;
}

.main-banner .caption h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 84px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 em {
    font-style: normal;
    color: #ed563b;
    font-weight: 900;
}

.main-button a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    /* background-color: #1c7aac; */
    border: 3px solid var(--light-blue);
    color: var(--light-blue);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
}

.main-button a:hover {
    color: rgb(251, 255, 32);
    border: 3px solid rgb(251, 255, 32);;
}
/* BANNER STYLES END */


/* SECTION STYLES START*/
.section-light{
    background-color: rgba(255,255,255, 5%);
}
.about-section{
    color: white;
}
.section-title {
    padding: 6px 20px 5px 24px;
    color: var(--primary-color);
    width: 100%;
    background: rgba(10, 34, 57, 50%);;
}
/* SECTION STYLES END */

/* ABOUT STYLES START */
.about-wrapper {
    padding: 1% 8%;
    color: azure;
    text-align: center;
    padding-bottom: 45px;
}
.about-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.about-box p{
    text-align: left;
    margin-bottom: 15px;
}
.indentation{
    opacity: 0;
}
.about-img{
    width: 300px;
    margin: 0 0 18px 0;
    border-radius: 10px;
}
.obs-text{
    color: var(--bs-cyan);
}
.obs-smiley{
    color: greenyellow;
}
.check-projects {
    border: solid 2px rgb(148, 220, 40);
    padding: 15px 110px;
    font-size: 1.25rem;
    color: rgb(148, 220, 40);
    margin: 10px 0 0 0;
}
.check-projects:hover {
    border: solid 2px var(--light-blue);
    color: var(--light-blue);
}
/* ABOUT STYLES END */