:root{
    --dark-grey: #132E32;
    --dark-blue: #0A2239;
    --medium-blue: #176087;
    --light-md-blue: #1D84B5;
    --light-blue: #53A2BE;
    --trans-white: rgba(255,255,255,.2);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: url("./assets/cursor/paperplane-sm.png"), auto !important;
}

button{
    text-decoration: none;
    cursor: url("./assets/cursor/paperplane-sm.png"), auto !important;
}

html{
    scroll-behavior: smooth;
    cursor: url("./assets/cursor/rocket-sm.png"), auto;
}


.bg-vid{
    position: fixed;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}
/* General Page CSS Ends */

/* NAV STYLES BEGIN */
.sandwich{
    background-color: var(--trans-white);
}

.links-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.75rem;
    width: 100%;
}

.navigation-link {
    text-align: center;
    width: 100%;
    color: var(--dark-blue);
    margin: 3% 0;
    border: solid 2px rgb(10 34 57 / 50%);
    padding: 10px 0;
}

.navigation-link:hover{
    color: var(--light-blue);
    border: solid 2px var(--light-blue);
}

#offcanvasNavbar{
    background-color: aliceblue;
}
/* NAV STYLES END */


.section-title {
    margin: 12px 0 0 0;
    padding: 6px 20px 5px 24px;
    color: var(--primary-color);
    border-radius: 0 1px 15px 0;
    width: fit-content;
    background: rgba(255, 255, 255, .2);
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 2%;
    background: rgba(0,0,0,.5);
}

.profile-pic{
    width: 350px;
    border-radius: 15px;
    margin: 0 0 30px 0;
    opacity: 85%;
}

.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: azure
}

.greeting span{
    color: var(--light-blue);
}

.know-more {
    border: solid 2px var(--light-blue);
    padding: 15px 110px;
    font-size: 1.25rem;
    color: var(--light-blue);
    margin: 10px 0 0 0;
}

.know-more:hover {
    border: solid 2px rgb(255 255 0 / 81%);
    color: rgba(255, 255, 0, 81%);
}