:root{
    --dark-grey: #132E32;
    --dark-blue: #0A2239;
    --medium-blue: #176087;
    --light-md-blue: #1D84B5;
    --light-blue: #32adda;
    --trans-white: rgba(255,255,255,.2);
    --secondary-color: dodgerblue;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: url("./assets/cursor/paperplane-sm.png"), auto !important;
}
p{
    margin: 0;
}
button{
    text-decoration: none;
    cursor: url("./assets/cursor/paperplane-sm.png"), auto !important;
}
html{
    cursor: url("./assets/cursor/rocket-sm.png"), auto;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}
/* General Page CSS Ends */

/* NAV STYLES BEGIN */
.navbar-style{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 999;
    width: 100%;
}
.navbar-brand {
    font-weight: 600;
    font-size: 32px;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}
.white-span{
    color: white;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.colored-span{
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover{
    color: var(--secondary-color)
}
@media screen and (min-width: 992px){
    .connect-link{
        background-color: var(--secondary-color);
        margin-left: 5px;
    }
    
    .connect-link:hover{
        background-color: white;
        color: var(--secondary-color);
    }
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    color: var(--light-blue);
}

/* NAV STYLES END */


/* HOME STYLES START */
.main-banner {
    position: relative;
}
#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}
#bg-video::-webkit-media-controls {
    display: none !important;
}
.main-banner .caption {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
}
.main-banner .caption h6 {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 0.5px;
}
.main-banner .caption h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 84px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}
.main-banner .caption h2 em {
    font-style: normal;
    color: var(--secondary-color);
    font-weight: 900;
}
.main-button a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    /* background-color: #1c7aac; */
    border: 3px solid var(--light-blue);
    color: var(--light-blue);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
    width: 60%;
}
.main-button a:hover {
    color: rgb(251, 255, 32);
    border: 3px solid rgb(251, 255, 32);
}
.second-button a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    margin-top: 15px;
    border: 3px solid rgb(148, 220, 40);
    color: rgb(148, 220, 40);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
    width: 60%;
}
.second-button a:hover {
    color: rgb(251, 255, 32);
    border: 3px solid rgb(251, 255, 32);
}
/* HOME STYLES END */


/* SECTION STYLES START*/
.section-title {
    margin: auto;
}
/* SECTION STYLES END */


/* ABOUT STARTS */
#About {
    margin-bottom: 5px;
    background-color: #060c14;
    color: azure
}
.feature-item {
    display: flex;
    margin-bottom: 60px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.feature-item .left-icon img {
    float: left;
    margin: 0 30px 0 0;
    width: 200px;
    border-radius: 500px;
}
.feature-item .right-content {
    display: inline;
}
.feature-item .right-content h4 {
    margin-top: 0px;
    margin-bottom:  7px;
    letter-spacing: 0.25px;
    color: var(--secondary-color);
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}
.full-word{
    color: var(--secondary-color);
}
.full-word-success{
    color: lightgreen;
}
.ucf-knight{
    color: yellow
}
@media screen and (max-width: 992px){
    .feature-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feature-item .left-icon img {
        margin: 0 0 35px 0;
        width: 230px;
    }
}
.section-heading {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 40px;
}
.section-heading h2 {
    font-size: 28px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
}
.section-heading h2 em {
    font-style: normal;
    color: var(--secondary-color);
}
.section-heading img {
    margin: 20px auto;
}
.section-heading p{
    padding: 0 4%;
}
.about-creation-btn{
    text-align: center;
    margin-bottom: 40px;
}
/* ABOUT ENDS */


/* CREATIONS STYLES START */
#Creations{
    margin-bottom: 5px;
    background-color: white;
    color: black;
}
.section-heading .reversed-title{
    color: var(--dark-blue);
}
.projects-wrapper{
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-button{
	transition:.7s;
    position: relative;
}

.project-image{
    width: 280px;
    border-radius: 2px;
    box-shadow: 0px 5px 11px grey;
    transition: all .4s ease-in-out;
    background-color: white;
}
.featured-project{
    width: 430px;
}
.project-button:hover .project-image{
    opacity: 50%;
    transition:1.2s;
}
.project-button:hover{
    transform: scale(1.03);
}
.project-label {
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 12px;
    right: 0;
    padding: 17px 0;
    width: 94.75%;
    margin: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
}
.project-button:hover .project-label {
	opacity: 1;
    top: 33%;
	transition:1.2s;
}
.small-label{
    width: 92.1%;
    top: 20%;
}
.project-button:hover .small-label{
    top: 24%;
}
.label-title{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0 0 5px 0;
}
.label-description{
    font-style: italic;
    margin-bottom: 8px;
    font-size: 13px;
}
.label-read-more {
    color: #ffffff85;
    font-style: italic;
    padding: 0 10px;
    position: absolute;
    font-size: 12px;
    bottom: 5px;
    right: 0;
}

@media screen and (max-width: 750px){
    .project-button{
        width: fit-content;
    }
    .project-button:hover .project-image{
        opacity: 10%;
    }
    .featured-project{
        width: 91%;
    }
    .project-label {
        background: none;
        color: black;
    }
    .project-button:hover .project-label {
        opacity: 1;
        top: 25%;
        transition:1.2s;
    }
    .label-read-more{
        color: grey;
        position: relative;
    }
    
}
/* CREATIONS STYLES END */

/* MODAL STARTS */
.modal-header{
    background-color: #060c14;
    color: white;
}
.modal-image {
    width: 100%;
    border-radius: 2px;
}
.modal-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.modal-link{
    width: 30px;
    margin: 10px 0;
    transition: all .35s ease-in-out;
}
.modal-link:hover{
    transform: scale(1.175);
}
.modal-section-title{
    text-align: center;
    font-weight: bold;
}
.modal-text{
    width: 100%;
    margin: auto;
    outline: double;
    padding: 15px 20px;
}
.modal-footer{
    background-color: #060c14;
    margin-top: 15px;
}
/* MODAL ENDS */


/* CONNECT STYLES START */
#Contact{
    margin-bottom: 5px;
    background-color: #060c14;
    color: azure;
}
/* CONNECT STYLES END */