:root{
    --dark-grey: #132E32;
    --dark-blue: #0A2239;
    --medium-blue: #176087;
    --light-md-blue: #1D84B5;
    --light-blue: #53A2BE;
    --trans-white: rgba(255,255,255,.2);
    --secondary-color: #e41717;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: url("./assets/cursor/paperplane-sm.png"), auto !important;
}
p{
    margin: 0;
}
button{
    text-decoration: none;
    cursor: url("./assets/cursor/paperplane-sm.png"), auto !important;
}
html{
    cursor: url("./assets/cursor/rocket-sm.png"), auto;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    color: azure;
}
/* General Page CSS Ends */

/* NAV STYLES BEGIN */
.navbar-style{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 999;
    width: 100%;
}

.navbar-brand {
    font-weight: 600;
    font-size: 32px;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.white-span{
    color: white;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.colored-span{
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.navbar-dark:hover .navbar-nav:hover .nav-link:hover{
    color: var(--secondary-color)
}

@media screen and (min-width: 992px){
    .connect-link{
        background-color: var(--secondary-color);
        margin-left: 5px;
    }
    
    .connect-link:hover{
        background-color: white;
        color: var(--secondary-color);
    }
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link{
    color: var(--light-blue);
}

/* NAV STYLES END */


/* BANNER STYLES START */
.main-banner {
    position: relative;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

.main-banner .caption {
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
}

.main-banner .caption h6 {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 0.5px;
}

.main-banner .caption h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 84px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 em {
    font-style: normal;
    color: var(--secondary-color);
    font-weight: 900;
}

.main-button a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    /* background-color: #1c7aac; */
    border: 3px solid var(--light-blue);
    color: var(--light-blue);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
}

.main-button a:hover {
    color: rgb(251, 255, 32);
    border: 3px solid rgb(251, 255, 32);
}
/* BANNER STYLES END */


/* FEATURES STARTS */
#About {
    margin-bottom: 80px;
    background-color: #060c14;
}

.feature-item {
    display: inline-block;
    margin-bottom: 60px;
}

.feature-item .left-icon img {
    float: left;
    margin-right: 30px;
}

.feature-item .right-content {
    display: inline;
}

.feature-item .right-content h4 {
    margin-top: 0px;
    margin-bottom:  7px;
    letter-spacing: 0.25px;
    color: var(--light-blue);
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}

.feature-item .right-content a.text-button {
    margin-top: 7px;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: 500;
}

.section-heading {
    text-align: center;
    margin-top: 55px;
    margin-bottom: 80px;
  }
  
  .section-heading h2 {
    font-size: 28px;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
  }
  
  .section-heading h2 em {
    font-style: normal;
    color: var(--secondary-color);
  }
  
  .section-heading img {
    margin: 20px auto;
  }
/* FEATURES END */

/* SECTION STYLES START*/
.section-light{
    background-color: rgba(255,255,255, 5%);
}
.about-section{
    color: white;
}
.section-title {
    padding: 6px 20px 5px 24px;
    color: var(--primary-color);
    width: 100%;
    background: rgba(10, 34, 57, 50%);;
}
/* SECTION STYLES END */

/* ABOUT STYLES START */
.about-wrapper {
    padding: 1% 8%;
    color: azure;
    text-align: center;
    padding-bottom: 45px;
    background: #0d1923;
}
.about-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.about-box p{
    text-align: left;
    margin-bottom: 15px;
}
.indentation{
    opacity: 0;
}
.about-img{
    width: 300px;
    margin: 0 0 18px 0;
    border-radius: 10px;
}
.obs-text{
    color: var(--bs-cyan);
}
.obs-smiley{
    color: greenyellow;
}
.check-projects {
    border: solid 2px rgb(148, 220, 40);
    padding: 15px 110px;
    font-size: 1.25rem;
    color: rgb(148, 220, 40);
    margin: 10px 0 0 0;
}
.check-projects:hover {
    border: solid 2px var(--light-blue);
    color: var(--light-blue);
}
/* ABOUT STYLES END */