*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: url("./assets/cursor/paperplane-sm.png"), auto;

}

html{
    scroll-behavior: smooth;
    cursor: url("./assets/cursor/rocket-sm.png"), auto;
}


.bg-vid{
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 200px;
}